.center{
    margin: auto;
    width: 70%;
}

.about{
    display: block;
    float: left;
    margin-left: 25%;
    margin-right: 5%;
    width: 15rem;
}

.image{
    display: block;
    width: 18rem;
}

@media screen and (max-width: 1150px) {
    .center{
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }

    .about{
        margin-left: 15%;
        margin-right: auto;
    }

    .image{
        margin: auto;
    }
}