.name{
    padding-top: 15%;
    color: white;
    text-align: center;
    background: #333a40;
    font-size: 90px;
}

.intro{
    color: black;
    text-align: center;
}

.button{
    border: none;
    background-color: #27a2b8;
    color: white;
    border-radius: 50px;;
    margin: 0 auto;
    display: block;
    padding: 5px 32px;
    margin-top: 5%;
    width: 20%;
    font-size: 3vw;
    transition-duration: 0.4s;
    margin-bottom: 20%;
}

.button:hover{
    background-color: #338796;
}
@media screen and (max-width: 750px) {
    .name{
        padding-top: 20%;
        font-size: 70px;
    }

    .intro{
        font-size: 20px;
    }

    .button{
        margin-top: 10%;
        width: 30%;
        font-size: 5vw;
    }
}

@media screen and (max-width: 500px) {
    .button{
        margin-top: 10%;
        width: 30%;
        font-size: 4vw;
    }
}